<!-- Google ads -->
  <div class = "row">
    <center>

      <% if @device == 'desktop' %>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- First ad unit -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-8276795322536005"
               data-ad-slot="5814616558"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      <% end %>


      <% if @device == 'mobile' %>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Mobile -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:320px;height:100px"
               data-ad-client="ca-pub-8276795322536005"
               data-ad-slot="8209679755"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      <% end %>

    </center>
  </div>