<script>
    FB.api('/me/permissions', function(response) {
      console.log(response);
  });
      </script>

<% content_for :navigation do %>

	<% if @signed_in == true %>
		    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user['username'] %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="#">Profile</a></li> -->
                <li><a href="user/logout/action">Logout</a></li>
              </ul>
            </li>
	<% else %>
		<li><a href="user/signin">Log in</a></li>
	<% end %>

<% end %>


<!-- Body -->
<div class = "container">

	<!-- Show well if not signed in -->
	<% if @signed_in == false %>
		<div class="well well-sm info">
			<center>
				Get more pictures, save progress, and compete against friends.
				<a href = "/user/signup">
					Sign up here!
				</a>
			</center>
		</div>
	<% end %>
	<!-- End of well -->

	<div class = "row">

	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
			<a href = "/map_page/location/<%= location['objectId'] %>">
				<img src="<%= location['imageLink'] %>" alt = "Picture hint" class="img-responsive" style = "width:100%">
			</a>
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-plane" aria-hidden="true" style= "color: #428bca;"></span> <%= location['Fact'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>


	  <% end %>

	</div>

</div>
