<div class = "container-fluid">

	<div class = "row">

	  <% @locations.each do |location| %>

		<div class="col-md-4">
			
			<center>
			<a href = "/map_page/location/<%= location['objectId'] %>">
				<img src="<%= location['imageLink'] %>" alt = "Picture hint" class="img-responsive" style = "width:100%">
			</a>
			</center>

			<h6 style = "color:grey;">
				<%= location['Fact'] %>
			</h6>

			<hr width="50%">
			
			<br><br>
		
		</div>


	  <% end %>

	</div>

</div>
