<style>

.jumbotron{
	 background:  url(http://i.imgur.com/deFtcZ4.jpg) center center;
}

.img-circle {
    border-radius: 50%;
}

.navbar {
	margin-bottom: 0px;
}

</style>
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style = "color: white;">It's trivia on a map</h1>
        <p style = "color: white;">Doesn't make sense? Look below to learn how it works.</p> <br>
        <p><a class="btn btn-success btn-lg" href="/user/signup" role="button">Sign up to play &raquo;</a></p>
        <p><a href = "/locations" style = "color: white; font-size:15px;"><u>Try it out first</u></a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      	<center>
      		<h3 style = "color:grey;">How it works</h3>
  		</center>
      

      <br><br>

      <div class="row">
        <div class="col-md-4">
         	<center>
	          <img src ="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/s640x640/sh0.08/e35/11910509_1738518383035191_1906664327_n.jpg" class = "img-responsive img-circle" style = "width:75%">
	          <br>
	          <p style = "color:#428bca; margin-bottom:50px;"><strong>I'll give you a picture</strong></p>
      		</center>
          
          
        </div>
        <div class="col-md-4">
          
         	<center>
	          <img src ="http://i.imgur.com/9DlyVDn.png" class = "img-responsive img-circle" style = "width:75%">
	          <br>
	          <p style = "color:#428bca; margin-bottom:50px;"><strong>Guess where it is</strong></p>
      		</center>
          
       </div>
        <div class="col-md-4">
          
          	<center>
	          <img src ="http://i.imgur.com/zweH15u.png" class = "img-responsive img-circle" style = "width:75%">
	          <br>
	          <p style = "color:#428bca; margin-bottom:50px;"><strong>I'll show you how close you are</strong></p>
      		</center>
          
        </div>
      </div>