<div class = "container">

	<!-- Tap to guess text -->
	<center>
			<h3 style = "color: #5cb85c;">You won!</h3>
			</a>
	</center>

	<!-- Show well if not signed in -->
	<% if @signed_in == false %>
		<div class="well well-sm info">
			<center>
				<span class="glyphicon glyphicon-picture" aria-hidden="true" style="color:#428bca"></span> Want to challenge your friend? Sign up first!
				<br><br>
				<a class="btn btn-success btn-lg" href = "/user/signup">
					Sign up &raquo;
				</a>
			</center>
		</div>
	<% end %>
	<!-- End of well -->

	<!-- Pictures -->
	<div class = "row">
	  <% @locations.each_with_index do |location, index| %>

	  	<% if index % 3 == 0%>
	  		<div class = "row">
	  		</div>
	  	<% end %>
	  	
		<div class="col-md-4">
			
			<center>
				<img src="<%= location['imageLink'] %>" alt = "<%= location['Fact'] %>" class="img-responsive" style = "width:100%">
			</center>

			<p style = "color:grey; padding-top:10px;">
				<span class="glyphicon glyphicon-ok" aria-hidden="true" style= "color: #5cb85c;"></span> <%= location['Answer'] %>
			</p>

			<hr width="50%">
			
			<br><br>
		
		</div>



	  <% end %>

	</div>

	<!-- Google footer ad -->
	<%= render 'footeradtemplate' %>
</div>