<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
      }
      .back-button{
      	position: absolute; 
   		bottom: 100px;
   		width:30%;
      }
      .submit-button{
      position: absolute; 
   		bottom: 100px; 
   		width: 100%;
   		right: 0px;
      }
      .navbar-default{
      	margin-bottom: 0px;
      }
</style>

<script>
	
var map;
var markers = [];
var guessCoordinates;

function initMap() {
  var height = window.innerHeight;
  var new_height = height / 2;
  document.getElementById('map').style.height = new_height + 'px';

  var haightAshbury = {lat: 37.769, lng: -122.446};

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 3,
    center: haightAshbury,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  // This event listener will call addMarker() when the map is clicked.
  map.addListener('click', function(event) {
    addMarker(event.latLng);
    console.log(event.latLng.lat());
    console.log(event.latLng.lng());

  });

}

// Adds a marker to the map and push to the array.
function addMarker(location) {
  deleteMarkers()
  var marker = new google.maps.Marker({
    position: location,
    animation: google.maps.Animation.DROP,
    map: map
  });
  markers.push(marker);
}

// Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}


// Shows any markers currently in the array.
function showMarkers() {
  setMapOnAll(map);
}


</script>

<div id="map"></div>