<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow:hidden; /*prevent scrolling*/
      }


      .navbar-default{
      	margin-bottom: 0px;
      }


      .image { 
         position: relative; 
         width: 100%; /* for IE 6 */
      }

      h3 { 
         position: absolute; 
         top: 0px; 
         left: 0; 
         width: 100%; 
      }

      h3 span { 
         color: white; 
         font: 22px/45px Helvetica, Sans-Serif; 
         letter-spacing: -1px;  
         background: rgb(0, 0, 0); /* fallback color */
         background: rgba(0, 0, 0, 0.7);
         padding: 10px; 
      }

</style>

<script>
	function signUp() {
		var email = document.getElementById('inputEmail').value;
		var password = document.getElementById('inputPassword').value;

		window.location.href = '/user/signin/action/?username='+email+'&password='+password;

	}
</script>

<!-- Waterfall -->
<div class = "image">
	<img src = 'http://media1.giphy.com/media/o75aUTOFKclq0/giphy.gif' class = "img-responsive">
	<h3><span>I'll show you a picture</span></h2>
	<h3 style = "top: 50px;"><span>Guess where it is on the map</span></h2>
	<h3 style = "top: 100px;"><span>I'll show you how close you are</span></h2>
</div>

<!-- <img src = 'http://media.giphy.com/media/3rgXBupHMyqFNHWgMw/giphy.gif' class = "img-responsive"> -->

<div class = "container">
	
<form style = "position:absolute; top: 400px;">
  <!-- Email -->
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label" style = "color:white;">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style = "color:white;">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>

  <!-- Sign in button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" onclick = "signUp()">Sign in</button>
    </div>
  </div>
</form>
	
</div>


