<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        /*overflow:hidden; prevent scrolling*/
      }


      .navbar-default{
      	margin-bottom: 0px;
      }


      .image { 
         position: relative; 
         width: 100%; /* for IE 6 */
      }

      h3 { 
         position: absolute; 
         top: 0px; 
         left: 0; 
         width: 100%; 
      }

      h3 span { 
         color: white; 
         font: 22px/45px Helvetica, Sans-Serif; 
         letter-spacing: -1px;  
         background: rgb(0, 0, 0); /* fallback color */
         background: rgba(0, 0, 0, 0.7);
         padding: 10px; 
      }

</style>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      // testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1602858929982444',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=id,name,email', function(response) {
      
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + response.email + response.id + '!';

      window.location.href = '/user/signup/action/?username='+response.email+'&password=facebook';

    });


  }
</script> 


<script>
	function signUp() {
		var email = document.getElementById('inputEmail').value;
		var password = document.getElementById('inputPassword').value;

		window.location.href = '/user/signup/action/?username='+email+'&password='+password;

	}
</script>

<!-- Waterfall -->
<div class = "image">
	<img src = 'http://media1.giphy.com/media/o75aUTOFKclq0/giphy.gif' class = "img-responsive">
	<h3><span>I'll show you a picture</span></h2>
	<h3 style = "top: 50px;"><span>Guess where it is on the map</span></h2>
	<h3 style = "top: 100px;"><span>I'll show you how close you are</span></h2>
</div>

<!-- <img src = 'http://media.giphy.com/media/3rgXBupHMyqFNHWgMw/giphy.gif' class = "img-responsive"> -->

<div class = "container">



<form style = "position:absolute; top: 400px;">
  <!-- Email -->
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label" style = "color:white;">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style = "color:white;">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>

  <!-- Sign in button -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" onclick = "signUp()">Sign up</button>
    </div>
  </div>
</form>
	
</div>

<br>


<button onclick = "testAPI()" class="btn btn-primary btn-lg submit-button">Facebook login</button>

<div id="status">
</div>

