<style>
/* Space out content a bit */

body { 
  background:  url(http://38.media.tumblr.com/0d0b3f50c8ff603d03c33f4a1cb1a9f7/tumblr_nwru6eWxtE1u80dcio1_500.gif) no-repeat center center fixed;
  /*background:  url(https://media.giphy.com/media/u5wjDDtUTHJeg/giphy.gif) no-repeat center center fixed; */
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron h1 {
  color: white;
}

.lead {
	margin-top: 50px;
	color: white;
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}

h1 span { 
	 color: white; 
	 /*font: 22px/45px Helvetica, Sans-Serif; */
	 letter-spacing: -1px;  
	 background: rgb(0, 0, 0); /* fallback color */
	 background: rgba(0, 0, 0, 0.7);
	 padding: 10px; 
}

h3 span { 
   color: white; 
   /*font: 22px/45px Helvetica, Sans-Serif; */
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    /*background-image: url(https://media.giphy.com/media/u5wjDDtUTHJeg/giphy.gif);*/
  }
}
</style>


<div class="container">

<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
	<center>
	  <h1 style = "font-size: 50px;"><span>Take the Tent</span></h1>
	</center>
	</div>
</div>
     

    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <center>
          <h3><span>I'll show you a picture. </span></h3>
          <h3 style = "margin-top: 25px;"><span> Guess where it is. </span></h3>
          <h3 style = "margin-top: 25px;"><span>Find out how close you are.</span></h3>
        </center>
      </div>
    </div>


     <div class = "row" style = "margin-top: 35px;">
      <div class = "col-md-6 col-md-offset-3">
        <center>
          <p><a class="btn btn-lg btn-success" href="/user/signup" role="button">Sign up today</a></p>
        </center>
      </div>
    </div>    

</div> <!-- /container -->

